body{
  background-color: antiquewhite;
}

.nav-bar{
  background-color: rgba(0, 0, 0, 0.511);
  padding: 30px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;

}

.home, .contact, .about {
  padding: 15px;
  margin: 10px;
  color: white;
  text-decoration: none;
  border: 2px black solid;
  border-radius: 30px;
}

.elements{
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-div{
  position: absolute;

}

.logo{
  width: 150px;
  padding-right: 100px;
}